<div class="container-fluid my-2 text-center">
    <footer class="bg-secondary text-white px-3 py-2">
        <h5>Copyright &copy; 2023 Antoine</h5>
        <p class="">All rights reserved &copysr;</p>
        <p class="">For more info visit <a href="" class="btn btn-secondary">My account</a> </p>
    </footer>

</div>