<!-- navbar.ejs -->
<nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="/">My App</a>
    <ul class="navbar-nav">
        <% if (user) { %>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        <% } else { %>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
            </li>
        <% } %>
        <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
        </li>
    </ul>
</nav>

<!-- layout.ejs -->
<html>
<head>
    <title><%= title %></title>
</head>
<body>
<%- include('navbar') %>
<%- body %>
</body>
</html>
