
<html>

<body>
<div class="container mt-3">
    <form action="/goto-products" method="POST">
        <button class="btn btn-outline-info mt-2">Go to products</button>
    </form>

</div>

</body>
</html>